<%- include('./partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">
   <!-- <%= JSON.stringify(locals.session) %> -->
      <div class="row">
        <div class="col">
          <h3 class="text-center">Votre liste de préférences</h3>

          <table class="table">
            <thead>
              <th>Article</th>
              <th>Prix HT</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
               <% locals.session.bookmark.forEach(figurine => { %>
                <td>
                  <img class="img-thumbnail img-cart-list" src="./images/<%- figurine.name %>.png" alt="<%- figurine.name %>">
                  <div class="item-description">
                      <h5 class="item-title"><%- figurine.name %></h5>
                  </div>
                </td>

                <td>
                  <p class="item-subtotal"><%- figurine.price %></p>
                </td>

                <td>
                  <a href="/bookmarks/delete/<%- figurine.id %>">Enlever de la liste</a>
                </td>
              </tr>
              <% }) %>
           </tbody>  
          </table>

          <div class="row">
            <div class="col text-right">
                <a class="btn btn-success" href="/">
                  Retour à l'accueil
                </a>
            </div>
          </div>

        </div>
      </div>
  </div>

  <%- include('./partials/footer') %>